#navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    min-height: none;
    background-color: dimgrey;
    z-index: 100;
  }
  
  @keyframes toslimnavbar {
    100% {
      height: 80px;
    }
  }
  
  @keyframes tofullnavbar {
    100% {
      height: 120px;
      background-color: dimgrey;
    }
  }
  
  #navbarcover {
    width: 100%;
    height: 105px;
  }