#navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 120px;
    background-color: dimgrey;
    z-index: 100;
    animation: tofullnavbar 1s 1s;
  }
  
  @keyframes toslimnavbar {
    100% {
      min-height: 80px;
    }
  }
  
  @keyframes tofullnavbar {
    100% {
      min-height: 120px;
      background-color: dimgrey;
    }
  }
  
  #navbarcover {
    width: 100%;
    min-height: 105px;
  }