.md {
    width: 75%;
    min-width: 250px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px 20px;
    border-radius: 10px;
    text-align: left;
    font-family: 'Trebuchet MS', sans-serif;
    margin-bottom: 2%;
}

hr {
    height: 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
}